<div class="panel panel-default">
  <div class="panel-heading"><b>Assignment</b></div>
  <div class="panel-body">
    Programmed By: Surojit Basu
    <hr />
    Dated: 19th Aug 2019
    <hr />
    Admin access: admin@admin.com / admin123
  </div>
</div>